<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
  <head th:insert="partials :: head"></head>
</head>
<body>
<nav th:insert="partials :: nav"></nav>

<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input th:field="*{title}" type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea th:field="*{body}" class="form-control"  rows="3"></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

<script th:replace="partials :: script1"></script>
<script th:replace="partials :: script2"></script>
</body>
</html>